.container {
  padding: 93px 240px 153px;
  position: relative;
  width:100%;
  display: flex;
}

.photoBlock {
  position: relative;
  margin-right: 72px;
  z-index: 2;
  min-width: 700px;
  height: fit-content;
  &:before {
    content:'';
    position: absolute;
    width: 700px;
    height: 384px;
    background-color: #c59db7;
    bottom: -70px;
    left: -86px;
    z-index: -1;
  }
  &:after {
    content: '';
    width: 205px;
    height:110px;
    position: absolute;
    background-image: url("../../assets/img/icons/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 3;
    bottom: -71px;
    left: -100px;
  }
}

.title {
  position: absolute;
  left: -130px;
  font-family: 'Prata';
  font-size: 72.568px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  letter-spacing: 4.96px;
  text-transform: uppercase;
  color: #312C38;
  z-index: 3;
  span {
    color: #c59db7;
    position: relative;
  };
}

.block {
  position: relative;
  height: 100%;
}

.photo {
  width: 644px;
}

.icon {
  width: 51px;
  height: 60px;
}

.listServices {
  padding-top: 160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px 30px;
  width: 100%;
  margin-bottom: 64px;
  &__item {
    display: flex;
    justify-content: left;
    align-items: center;
    min-width: 270px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.9%;
    transition: .2s ease-in-out color;
    &:hover {
      color: #c59db7;
    }
    &:active {
      color: #704d4d;
    }
    img {
      margin-right: 20px;
    }
    a {
      text-align: left;
    }
  }
}

.iconLine {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -77px;
}

@media screen and (max-width: 1600px) {
  .container {
    padding: 92px 60px;
  }
  .photo {
    width: 544px;
  }

  .photoBlock {
    &:before {
      left: -59px;
    }
    &:after {
      left: -50px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .photoBlock {
    min-width: 400px;
    &:before {
      width: 400px;
    }
  }
  .photo {
    width: 444px;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    padding: 32px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .photoBlock {
    margin-bottom: 90px;
  }

  .title {
    position: relative;
    left: 0;
    font-size: 58px;
  }

  .listServices {
    padding: 0;
    margin-bottom: 32px;
  }

  .iconLine {
    right: 50%;
    bottom: 0;
  }
}

@media screen and (max-width: 660px) {
  .photoBlock {
    &:before {
      content:'';
      position: absolute;
      width: 350px;
      height: 180px;
      background-color: #c59db7;
      bottom: -50px;
      left: -20px;
      z-index: -1;
    }
    &:after {
      content: '';
      width: 155px;
      height:95px;
      position: absolute;
      background-image: url("../../assets/img/icons/logo.png");
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 3;
      bottom: -41px;
      left: inherit;
      right: 0px;
    }
   img {
     width: 320px;
   }
  }

  .title {
    font-size: 32.568px;
  }

  .listServices {
    padding-top: 10px;
    grid-gap: 10px 10px;
    width: 100%;
    margin-bottom: 0;
    &__item {
      display: flex;
      justify-content: left;
      min-width: 140px;
      font-size: 16px;
      line-height: 100.9%;
      img {
        width: 31px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 370px) {
  .photoBlock {
    transform: scale(.8);
  }
  .photoBlock {
    margin-bottom: 15px;
  }
  .listServices {
    &__item {
      display: flex;
      justify-content: left;
      min-width: 80px;
      font-size: 13px;
      line-height: 100.9%;
      img {
        width: 31px;
      }
    }
  }
}
