.block {
  position: relative;
  padding: 72px 240px;
  background-color: #696765;
}

.serviceSection {
  display: flex;
  justify-content: space-between;
}

.leftSide {
 flex-basis: 55%;
  margin-right: 32px;
}

.imgBotox {
  position: relative;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #c59db7;
  z-index: 2;
}

.blockImg {
  position: relative;
  margin-right: auto;
  height: fit-content;
  width: fit-content;
  margin-bottom: 92px;
}

.blockServ {
  max-width: 750px;
  position: relative;
  height: fit-content;
  margin-bottom: 48px;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #c59db7;
    bottom: -24px;
    left: 0;
  }
}

.subtitle {
  margin-bottom: 32px;
  font-size: 42.568px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: 4.96px;
  text-transform: uppercase;
  font-family: 'Prata';
  color: #FFFFFF;
}

.listServ {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  color: #ffffff;
  &__item {
    text-align: left;
    margin-bottom: 15px;
  }
}

.advText {
  margin-bottom: 24px;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  color: #FFFFFF;
  span {
    color: #c59db7;
  }
}

.btnAccordion {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
  transition: .2s ease-in-out color;
  color: #c59db7;
  &:hover {
    color: #e1bdb5;
  }
  &:active {
    color: #ec826a;
  }
}

.blockImgRightSide {
  text-align: right;
  margin-bottom: 48px;
  img {
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #c59db7;
  }
}

.iconBackLine {
  position: absolute;
  height: 50%;
  top:0;
}

.iconBackLine2 {
  position: absolute;
  height: 45%;
  left: 20%;
  bottom: 10%;
}

.iconBackEl {
  position: absolute;
  top: 30%;
  left: 0;
}

.iconBackVector {
  position: absolute;
  top: 70%;
  left: 0;
}

.iconLogo {
  position: absolute;
  z-index: 4;
  width: 210px;
  bottom: -40px;
  right: -100px;
}

.modal {
  &__modalTitle {
    font-size: 16.568px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    text-transform: uppercase;
    font-family: 'Prata' !important;
    span {
      color: #c59db7;
    }
  }
  &__modalSubtitle {
    margin-bottom: 15px;
  }
  &__selectTitle {
    color: #eaa4a4 !important;
  }

  &__btn {
    color: #eaa4a4 !important;
    &:disabled {
      color: gray !important;
    }
  }
  &__advTextMaster {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    color: #1D1D1A;
  }
  &__price {
    display: block;
    font-family: 'Prata';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #c59db7;
  }
  &__advText {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: #1D1D1A;
  }
  &__blockPrice {
    padding: 5px 0;
  }
}

@media screen and (max-width: 1600px) {
  .block {
    padding: 32px 60px;
  }

  .iconBackLine {
    right: 0;
  }
}

@media screen and (max-width: 1250px) {
  .serviceSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .blockImg {
    margin-right: 0;
  }
  .listServices {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blockImgRightSide {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 850px) {
  .iconBackLine2 {
    left: 0;
  }
}

@media screen and (max-width: 660px) {
  .imgBotox {
    width: 310px;
  }
  .iconLogo {
    right: -50px;
  }
  .blockImg {
    &:before {
      width: 140%;
      left: -60px;
    }
  }
  .subtitle {
    font-size: 24px;
  }
  .listServ {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .block {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 400px) {
  .blockImg {
    transform: scale(.8);
    margin-bottom: 23px;
  }
}