.container {
  position: relative;
  margin-right: 42px;
  justify-content: space-between;
}

.blockLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  position: relative;
  margin-bottom: 32px;
  max-width: 900px;
  text-align: left;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 131.2%;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Prata';
  z-index: 2;
}

.slogan {
  position: relative;
  text-align: left;
  max-width: 700px;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.9%;
  color: #FFFFFF;
  z-index: 2;
}

.blockRight {
  position: absolute;
  right: -281px;
  bottom: 0;
  width: 480px;
  height: 651px;
  background-image: url("../../../../assets/img/hair_back2.2.png");
  background-repeat: no-repeat;
}

@media screen and (max-width: 1600px) {
  .blockRight {
    right: -101px;
  }
}

@media screen and (max-width: 1250px) {
  .title {
    font-size: 32px;
  }
  .slogan {
    font-size: 16px;
  }
  .blockRight {
    width: 344px;
    height: 490px;
    background-image: url("../../../../assets/img/hair_back2.2_mobile.webp");
  }
}

@media screen and (max-width: 850px) {
  .title {
    font-size: 22px;
  }
  .slogan {
    font-size: 16px;
    max-width: 350px;
  }
  .blockRight {
    width: 344px;
    height: 490px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    margin-right: 0;
  }
  .title {
    font-size: 16px;
  }
  .slogan {
    font-size: 12px;
    max-width: 350px;
  }
  .blockRight {
    width: 200px;
    height: 453px;
    right: -20px;
  }
}