.block {
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
  z-index: 1201;
  &__address {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  &__listSocial {
    display: flex;
    align-items: center;
    &__item {
      margin-right: 24px;
      a {
        svg {
          path {
           transition: .2s ease-in-out fill;
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        a {
          svg {
            path {
              fill: #f3d5ca;
            }
          }
        }
      }
      &:active {
        a {
          svg {
            path {
              fill: #8c7878;
            }
          }
        }
      }
    }
  }
}

.address {
  cursor: pointer;
  text-align: left;
  max-width: 270px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 155.4%;
  color: #FFF;
  transition: .2s color ease-in-out;
  &:hover {
    color: #f3d5ca;
  }
  &:active {
    color: #8c7878;
  }
}

.text {
  max-width: 170px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 158.9%;
  color: #FFF;
}

.phone {
  font-family: 'Lora';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #FFFFFF;
  transition: .2s color ease-in-out;
  &:hover {
    color: #f3d5ca;
  }
  &:active {
    color: #8c7878;
  }
}

.listNav {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  &__item {
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 30px;
    transition: color .2s ease-in-out;
    color: #FFFFFF;
    &:hover {
      color: #f3d5ca;
    }
    &:active {
      color: #8c7878;
    }
  }
}

.burgerList {
  max-width: 300px;
  &__item {
    cursor: pointer;
    margin-bottom: 12px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 155.4%;
    color: #FFF;
    transition: .2s color ease-in-out;
  }
}

@media screen and (max-width: 660px) {
  .block {
    margin-bottom: 10px;
  }
}