.block {
  width: 100%;
  padding: 0 240px;
  background: url("../../assets/img/fon_header.webp") no-repeat;
  background-size: auto;
}

@media screen and (max-width: 1600px) {
  .block {
    padding: 0 60px;
  }
}

@media screen and (max-width: 650px) {
  .block {
    padding: 0 20px;
  }
}